/* =================================
  General
==================================== */
* {
    box-sizing: border-box;
}

body{
    background-color: #edeff0;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}
/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header{
    background-color: #2c9676;
    padding: .5em 0;
    margin-top: 0;
    align-content: center;
    margin-bottom: 50px;
}

.left-nav{
    display: flex;
    flex-direction: column;
}

.main-nav a {
    text-align: center;
    display: block;
    padding: 0 10px;
}

.main-nav a {
    color: #d9dbdc;
    font-size: .95em;
    text-transform: capitalize;
}

.main-nav a:hover {
    color: #ffffff;
}

.logo{
    color: #ffffff;
    padding-left: .5em;
    padding-right: .5em;
    font-weight: 900;
    font-size: 1.2em;
}

.logo img{
    height: 28px;
    width: 28px;
}

.account{
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-pic{
    height: 20px;
    width: 20px;
}

/* ---- Layout Containers ---- */

.col{
    margin-left: .5em;
    margin-right: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

.container{
    margin: 0 auto;
    text-align: center;
}

.main-footer {
    text-align: center;
    padding: 2em 0;
    margin-top: 30px;
}

.profile{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 0 5px #888888;
    padding: 20px 0;
}

.profile img{
    width: 50px;
    height: 50px;
    margin: 5px 0;
}

.profile h4{
    font-size: 14px;
    font-weight: 400;
}

.profile a{
    font-size: 10px;
    color: #7a7a7a;
}

/* ---- Main Content ---- */

.left-primary-nav{
    background-color: #ffffff;
    box-shadow: 0 0 5px #888888;
}

.right-primary-nav{
    background-color: #ffffff;
    box-shadow: 0 0 5px #888888;
}

.nav-col{
    float: left;
    width: 50%;
    padding: 5px 0;
    margin-bottom: 15px;
    color: #000000;
}


/* ---- Input fields ---- */

input[type="search"] {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 25px;
    width: 250px;
    margin-right: 0;
}

.search-button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 25px;
    width: 50px;
    margin-left: 0;
}

/* =================================
  Media Queries
==================================== */
@media (max-width: 768px) {

    /* ---- Layout Containers ---- */

    .tertiary,
    .secondary {
        display: none;
    }

    .primary{
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 1099px) {

    /* ---- Layout Containers ---- */

    .secondary {
        display: none;
    }

    .primary {
        width: 75%;
        height: 100%;
    }

    .tertiary {
        width: 25%;
        height: 100%;
    }
}


@media (min-width: 769px) {
    /* ---- Navigation ---- */

    .left-nav{
        flex-direction: row;
    }

    .main-header,
    .main-nav,
    .container {
        display: flex;
    }

    .main-header,
    .nav-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main-content{
        flex-direction: row;
        justify-content: space-between;
    }

    .container{
        width: 90%;
    }

    /* ---- Float clearfix ---- */

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }

}

@media (min-width: 1100px) {



    /* ---- Layout Containers ---- */

    .primary {
        width: 60%;
        height: 100%;
        vertical-align: top;
    }

    .tertiary,
    .secondary{
        width: 20%;
        height: 100%;
    }

    .container{
        width: 80%;
        max-width: 1150px;
    }


}